{% extends "post.njk" %}
{% block postContent %}
<blockquote class="callout tip"><div class="callout-title tip"><span class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"></path></svg></span><p>Project url</p></div><div class="callout-content"><p><a href="https://ffernn.itch.io/bongo-cat-3d" class="url inlineurl">Play <em>Bongo Cat 3D</em> by ffernn on itch.io</a></p></div></blockquote>
<p>A small Bongo cat simulator that I 3d modelled and programmed for a friend as a Secret Santa gift.<br>
It's really not very polished but it's the best I would do in the time frame and I hope you enjoy it!<br>
<strong>merry crhistmes!!</strong></p>
<h2>Controlos:</h2>
<p>Left side of keyboard or left mouse for left bongo<br>
Right side of keyboard or right mouse for right bongo<br>
Shift, Space or Enter for meows</p>
<h2>NOTICE:</h2>
<h3>After issues with the game crashing whole browsers (???) I have removed the web version for now.</h3>{% endblock %}