{% extends "post.njk" %}
{% block postContent %}
<p>![[Pasted image 20241120112449.png]]<br>
<strong>UI concept sketch</strong><br>
![[Pasted image 20241120112635.png]]<br>
<strong>Beginnings of working backend</strong><br>
![[Pasted image 20241120110538.png]]<br>
<strong>Near-final v1 UI mockup</strong></p>
<p><strong>UPDATE OCT 2023: this isn't actively being worked on for the foreseeable future sorry</strong></p>
<p>I'm working on this with <a href="https://bucketfish.me/" class="url inlineurl">my friend Bucketfish</a>, the plan is for it to be a social media where the 'posts' are only when you charge or unplug your phone. In some small testing it's quite fun and it becomes a tiny little blog e.g. "Just got home from school 😮‍💨" or "oh no forgot to plug in my phone last night!" There's a lot of work to go, but I hope it comes to fruition.</p>{% endblock %}