@font-face {
  font-family: "Karmilla";
  src: url("karmilla/karmilla-regular-webfont.eot");
  src: url("karmilla/karmilla-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("karmilla/karmilla-regular-webfont.woff") format("woff"),
    url("karmilla/karmilla-regular-webfont.ttf") format("truetype"),
    url("karmilla/karmilla-regular-webfont.svg#webfont") format("svg");
}

body {
  background-color: #1c1a1e;
  color: #f7fff7;
  font-family: "Karmilla";
}
a {
  color: #f7fff7;
}

.box {
  background-color: #221f23;
  border: 2px solid #f7fff7;
  border-radius: 12px;
}

.sidebar {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  /* TODO: CALC USING BODY MARGIN */
  height: calc(100vh - 16px);
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
